.ion-page {
  background-color: #000000;
  background-image: url('../assets/652677708_18021012203642875_5614181220272571728_n.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}