.news-page-content {
  --background: #f2f2f2;
}

.news-page-main {
  min-height: 100%;
  padding: 36px 48px 130px;
  box-sizing: border-box;
}
/*
@media (max-width: 768px) {
  .news-page-main {
    padding: 24px 18px 140px;
  }
}*/