.admin-content-page {
  --background: #f8f9fa;
}

.central-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logout-button {
  --background: #000000;
  --background-activated: #000000;
  --background-focused: #000000;
  --background-hover: #000000;
  --color: white;
  margin-top: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .logout-button {
    margin-top: 20px;
  }
}